/* ============================================= */
/*               Colour variables                */
/* ============================================= */

$blue: #51ddfc; 
$red: #e4757a;
$purple: #927bc1;
$green: #63cc82;
$orange: #fd7856;
$aqua: #58e1c1;
$grey: #777;

/* ============================================= */
/*              Values                           */
/* ============================================= */

$full: 100%;

$minw: 768px;
$maxw: 1400px;

