

/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
    flex-basis: $full;
  }
  
  .input{
    display: block;
    width: 94%;
    margin: 10px auto 0;
    border: none;
    padding: 10px;
    border-bottom: 5px solid $aqua;
  }
  
  .hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  
  
  /* ============================================= */
  /*              Images                           */
  /* ============================================= */
  
  .img-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: $full; 
    max-height: $full;
  }
  
  .img-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: $full;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  